body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.counter-container {
    width: auto;
    height: 300px;
    background-image: url(/Counter/images/cat.gif);
    background-position: center;
    background-size: cover;
    text-align: center;
    font-size: 40px;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
    color: rgb(0, 0, 0);
}

h1 {
    box-shadow: 0 15px 30px rgba(0, 0, 0, .6);
}

button {
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
    font-weight: bold;
}